Codefarts.ViewMessagingNET20/obj/
Codefarts.ViewMessagingNET45/obj/
Codefarts.ViewMessagingNETStd2/obj/
Codefarts.ViewMessagingNETStdWpf/obj/
Codefarts.ViewMessagingUWP/obj/
Codefarts.ViewMessagingPCL/obj/
Codefarts.ViewMessagingNETStd2/bin/
Codefarts.ViewMessagingNET45/bin/
Codefarts.ViewMessagingUWP/bin/
Codefarts.ViewMessagingWPF45/obj/
Codefarts.ViewMessagingWPF46/obj/
packages/
Codefarts.ViewMessagingWpfNETCore31/obj/
Codefarts.ViewMessagingWpfNETCore31/bin/
Codefarts.ViewMessagingWPF45/bin/
.vs/
codealike.json
Codefarts.ViewMessagingNET47/obj/
Codefarts.ViewMessagingWPF47/obj/
Codefarts.ViewMessagingNET46/obj/
Codefarts.ViewMessagingWpfCore31/obj/
Codefarts.ViewMessagingWpfCore31/bin/
